<a href="https://colab.research.google.com/github/RajuKGosala-45/E-Commerce-dataset-PySpark-Practices/blob/main/E_Commerce_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark Install in Google Collab

In [ ]:
!apt-get update -qq
!apt-get install -y openjdk-17-jdk-headless -qq

!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["PATH"] += ":/usr/lib/jvm/java-17-openjdk-amd64/bin"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
(Reading database ... 121713 files and directories currently installed.)
Preparing to unpack .../openjdk-17-jdk-headless_17.0.17+10-1~22.04_amd64.deb ...
Unpacking openjdk-17-jdk-headless:amd64 (17.0.17+10-1~22.04) over (17.0.16+8~us1-0ubuntu1~22.04.1) ...
Preparing to unpack .../openjdk-17-jre-headless_17.0.17+10-1~22.04_amd64.deb ...
Unpacking openjdk-17-jre-headless:amd64 (17.0.17+10-1~22.04) over (17.0.16+8~us1-0ubuntu1~22.04.1) ...
Setting up openjdk-17-jre-headless:amd64 (17.0.17+10-1~22.04) ...
Installing new version of config file /etc/java-17-openjdk/security/default.policy ...
Installing new version of config file /etc/java-17-openjdk/security/java.security ...
Setting up openjdk-17-jdk-headless:amd64 (17.0.17+10-1~22.04) ...
Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

# Day 51 - PySpark Data Profiling and Loading

### Set up SparkSession and Load Data

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("E-Commerce Bussiness").getOrCreate()

Files ={
    "events":"/content/events.csv",
    "order_items":"/content/order_items.csv",
    "orders":"/content/orders.csv",
    "products":"/content/products.csv",
    "reviews":"/content/reviews.csv",
    "users":"/content/users.csv"
}

df= {name: spark.read.csv(path, header=True, inferSchema=True) for name, path in Files.items()}

### Print Schema and Sample

In [2]:
for name, df in df.items():
  print(f"\n Dataset: {name.upper()}")
  df.printSchema()
  df.show(5)

 Dataset: EVENTS
root
 |-- event_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- event_timestamp: timestamp (nullable = true)

+---------+-------+----------+----------+--------------------+
| event_id|user_id|product_id|event_type|     event_timestamp|
+---------+-------+----------+----------+--------------------+
|E00000001|U009798|   P001393|      cart|2025-07-08 14:28:...|
|E00000002|U005881|   P000669|      view|2025-10-19 23:00:...|
|E00000003|U006348|   P001404|      view|2025-05-09 07:02:...|
|E00000004|U002664|   P000400|      cart|2025-07-19 22:47:...|
|E00000005|U005776|   P000392|      view|2024-10-24 10:20:...|
+---------+-------+----------+----------+--------------------+
only showing top 5 rows


 Dataset: ORDER_ITEMS
root
 |-- order_item_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_price: double (nullable = true)
 |-- item_total: double (nullable = true)

+-------------+---------+----------+-------+--------+----------+----------+
|order_item_id| order_id|product_id|user_id|quantity|item_price|item_total|
+-------------+---------+----------+-------+--------+----------+----------+
|    I00000001|O00000001|   P001758|U009310|       2|      8.07|     16.14|
|    I00000002|O00000001|   P001119|U009310|       1|     74.08|     74.08|
|    I00000003|O00000001|   P001794|U009310|       1|    576.97|    576.97|
|    I00000004|O00000001|   P001038|U009310|       1|     22.47|     22.47|
|    I00000005|O00000002|   P000859|U003247|       1|    422.22|    422.22|
+-------------+---------+----------+-------+--------+----------+----------+
only showing top 5 rows


 Dataset: ORDERS
root
 |-- order_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- order_status: string (nullable = true)
 |-- total_amount: double (nullable = true)

+---------+-------+--------------------+------------+------------+
| order_id|user_id|          order_date|order_status|total_amount|
+---------+-------+--------------------+------------+------------+
|O00000001|U009310|2025-09-09 14:52:...|  processing|      689.66|
|O00000002|U003247|2025-04-15 01:18:...|   completed|     1666.85|
|O00000003|U007252|2025-04-27 15:37:...|  processing|      665.06|
|O00000004|U008986|2025-10-04 20:35:...|   cancelled|       689.5|
|O00000005|U008537|2024-11-13 08:15:...|   cancelled|       860.5|
+---------+-------+--------------------+------------+------------+
only showing top 5 rows


 Dataset: PRODUCTS
root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- rating: double (nullable = true)

+----------+---------------+--------------+-------+------+------+
|product_id|   product_name|      category|  brand| price|rating|
+----------+---------------+--------------+-------+------+------+
|   P000001|       Astra Be|      Clothing|  Astra|157.89|  4.08|
|   P000002|NeoTech Someone|     Groceries|NeoTech| 21.46|  3.87|
|   P000003|   Acme Discuss|        Sports|   Acme|265.37|  3.46|
|   P000004|   Nimbus South|   Electronics| Nimbus|541.41|  4.14|
|   P000005|  Astra Capital|Home & Kitchen|  Astra| 198.0|  3.97|
+----------+---------------+--------------+-------+------+------+
only showing top 5 rows


 Dataset: REVIEWS
root
 |-- review_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- review_text: string (nullable = true)
 |-- review_date: timestamp (nullable = true)

+---------+---------+----------+-------+------+--------------------+--------------------+
|review_id| order_id|product_id|user_id|rating|         review_text|         review_date|
+---------+---------+----------+-------+------+--------------------+--------------------+
|R00000528|O00000237|   P001326|U001094|     2|Color was differe...|2025-10-14 12:03:...|
|R00005792|O00002627|   P000329|U001858|     4|Highly recommend ...|2024-10-09 08:04:...|
|R00036604|O00016798|   P001160|U008109|     4|Highly recommend ...|2024-06-03 05:11:...|
|R00040163|O00018414|   P001427|U006835|     5|Highly recommend ...|2024-02-12 06:41:...|
|R00031127|O00014300|   P001639|U007148|     3|Item arrived dama...|2025-01-20 05:32:...|
+---------+---------+----------+-------+------+--------------------+--------------------+
only showing top 5 rows


 Dataset: USERS
root
 |-- user_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- city: string (nullable = true)
 |-- signup_date: date (nullable = true)

+-------+--------------+--------------------+------+----------------+-----------+
|user_id|          name|               email|gender|            city|signup_date|
+-------+--------------+--------------------+------+----------------+-----------+
|U000001|    Angel Hill|donaldgarcia@exam...| Other|  New Roberttown| 2025-03-13|
|U000002|  Jesse Guzman|jennifermiles@exa...|  Male|   South Bridget| 2024-03-05|
|U000003|  Adam Shaffer|jpeterson@example...|  Male|      Curtisfurt| 2025-07-07|
|U000004| Melanie Munoz|blairamanda@examp...| Other|   New Kellystad| 2024-03-07|
|U000005|Janet Williams|kendragalloway@ex...|Female|South Joshuastad| 2025-01-29|
+-------+--------------+--------------------+------+----------------+-----------+
only showing top 5 rows

### Missing Values Summary

In [ ]:

df = {name: spark.read.csv(path, header=True, inferSchema=True) for name, path in Files.items()}

for name, current_df in df.items():
  print(f"\n Missing Values Summary For: {name.upper()}")

  null_expressions = []
  for field in current_df.schema:
    column_name = field.name

    # Start with the isNull() check for all column types
    condition = col(column_name).isNull()

    # Add check for empty strings if the column is of StringType
    if isinstance(field.dataType, StringType):
      condition = condition | (col(column_name) == "")

    # Add check for NaN if the column is of NumericType
    # NumericType includes DoubleType, FloatType, IntegerType, etc.
    if isinstance(field.dataType, NumericType):
      condition = condition | isnan(col(column_name))

    null_expressions.append(
        (count(when(condition, col(column_name))) / current_df.count() * 100).alias(column_name)
    )

  null_df = current_df.select(null_expressions)
  null_df.show()

 Missing Values Summary For: EVENTS
+--------+-------+----------+----------+---------------+
|event_id|user_id|product_id|event_type|event_timestamp|
+--------+-------+----------+----------+---------------+
|     0.0|    0.0|       0.0|       0.0|            0.0|
+--------+-------+----------+----------+---------------+


 Missing Values Summary For: ORDER_ITEMS
+-------------+--------+----------+-------+--------+----------+----------+
|order_item_id|order_id|product_id|user_id|quantity|item_price|item_total|
+-------------+--------+----------+-------+--------+----------+----------+
|          0.0|     0.0|       0.0|    0.0|     0.0|       0.0|       0.0|
+-------------+--------+----------+-------+--------+----------+----------+


 Missing Values Summary For: ORDERS
+--------+-------+----------+------------+------------+
|order_id|user_id|order_date|order_status|total_amount|
+--------+-------+----------+------------+------------+
|     0.0|    0.0|       0.0|         0.0|         0.0|
+--------+-------+----------+------------+------------+


 Missing Values Summary For: PRODUCTS
+----------+------------+--------+-----+-----+------+
|product_id|product_name|category|brand|price|rating|
+----------+------------+--------+-----+-----+------+
|       0.0|         0.0|     0.0|  0.0|  0.0|   0.0|
+----------+------------+--------+-----+-----+------+


 Missing Values Summary For: REVIEWS
+---------+--------+----------+-------+------+-----------+-----------+
|review_id|order_id|product_id|user_id|rating|review_text|review_date|
+---------+--------+----------+-------+------+-----------+-----------+
|      0.0|     0.0|       0.0|    0.0|   0.0|        0.0|        0.0|
+---------+--------+----------+-------+------+-----------+-----------+


 Missing Values Summary For: USERS
+-------+----+-----+------+----+-----------+
|user_id|name|email|gender|city|signup_date|
+-------+----+-----+------+----+-----------+
|    0.0| 0.0|  0.0|   0.0| 0.0|        0.0|
+-------+----+-----+------+----+-----------+

### Duplicate check Using primary Keys

In [ ]:
Primary_keys ={
    "users":"user_id",
    "orders":"order_id",
    "order_items":"order_item_id",
    "products":"product_id",
    "reviews":"review_id",
    "events":"event_id"
}

for name, df in df.items():
  key = Primary_keys.get(name)
  if key:
    dup_count = df.groupBy(key).count().filter("count > 1").count()
    print(f"Duplicate {key} in {name}: {dup_count}")

Duplicate event_id in events: 0
Duplicate order_item_id in order_items: 0
Duplicate order_id in orders: 0
Duplicate product_id in products: 0
Duplicate review_id in reviews: 0
Duplicate user_id in users: 0

### Statistical summary Stats for Numerical Columns

In [ ]:
for name, df in df.items():
  print(f"\n Summary Stats for: {name.upper()}")
  numeric_cols = [c for c, t in df.dtypes if t in ("int","bigint","double","float")]
  if numeric_cols:
    df.select(numeric_cols).describe().show()
print("\n Day 51 Completed - Data Profilling Done ")

 Summary Stats for: EVENTS

 Summary Stats for: ORDER_ITEMS
+-------+------------------+------------------+-----------------+
|summary|          quantity|        item_price|       item_total|
+-------+------------------+------------------+-----------------+
|  count|             43525|             43525|            43525|
|   mean|1.3973118897185526|196.63697622056128|273.8350132108008|
| stddev|0.6607172757815206|  297.259223858562|471.5851039154428|
|    min|                 1|              1.11|             1.11|
|    max|                 3|           2338.13|          7014.39|
+-------+------------------+------------------+-----------------+


 Summary Stats for: ORDERS
+-------+-----------------+
|summary|     total_amount|
+-------+-----------------+
|  count|            20000|
|   mean|595.9334475000019|
| stddev|776.0633359009934|
|    min|             1.11|
|    max|          7950.74|
+-------+-----------------+


 Summary Stats for: PRODUCTS
+-------+------------------+------------------+
|summary|             price|            rating|
+-------+------------------+------------------+
|  count|              2000|              2000|
|   mean|200.34223000000011|3.6776149999999994|
| stddev|302.74239544789185|0.6864775943312065|
|    min|              1.11|               2.5|
|    max|           2338.13|               4.9|
+-------+------------------+------------------+


 Summary Stats for: REVIEWS
+-------+------------------+
|summary|            rating|
+-------+------------------+
|  count|             15000|
|   mean|3.5446666666666666|
| stddev|1.1036693774081674|
|    min|                 1|
|    max|                 5|
+-------+------------------+


 Summary Stats for: USERS

 Day 51 Completed - Data Profilling Done

# Day - 52. Customer Segmentation with RFM Model Using PySpark

### 1.Setup SparkSession and Load Data

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.appName("E-Commerce Bussiness").getOrCreate()
events_df = spark.read.csv("/content/events.csv", header=True, inferSchema=True)
order_items_df= spark.read.csv("/content/order_items.csv", header=True,inferSchema=True)
orders_df = spark.read.csv("/content/orders.csv", header=True, inferSchema=True)
products_df = spark.read.csv("/content/products.csv", header=True, inferSchema=True)
reviews_df = spark.read.csv("/content/reviews.csv", header=True, inferSchema=True)
users_df = spark.read.csv("/content/users.csv", header=True, inferSchema=True)

# Read Orders Data table...........................................................

orders_df.show(truncate=False)

+---------+-------+--------------------------+------------+------------+
|order_id |user_id|order_date                |order_status|total_amount|
+---------+-------+--------------------------+------------+------------+
|O00000001|U009310|2025-09-09 14:52:37.292731|processing  |689.66      |
|O00000002|U003247|2025-04-15 01:18:27.193404|completed   |1666.85     |
|O00000003|U007252|2025-04-27 15:37:48.008624|processing  |665.06      |
|O00000004|U008986|2025-10-04 20:35:22.204857|cancelled   |689.5       |
|O00000005|U008537|2024-11-13 08:15:18.498252|cancelled   |860.5       |
|O00000006|U003449|2024-10-13 09:02:26.848944|completed   |2258.34     |
|O00000007|U006985|2024-05-01 04:44:56.418188|returned    |769.71      |
|O00000008|U007661|2024-03-03 23:33:22.844913|completed   |15.21       |
|O00000009|U000610|2025-10-29 07:00:11.203638|cancelled   |229.02      |
|O00000010|U003175|2024-08-13 07:04:24.298799|returned    |107.63      |
|O00000011|U004470|2025-08-14 09:59:55.223975|shipped     |1016.61     |
|O00000012|U009480|2025-08-27 09:57:48.992495|cancelled   |600.23      |
|O00000013|U003631|2025-01-03 18:04:29.010457|processing  |15.87       |
|O00000014|U009493|2025-06-15 22:26:58.985044|shipped     |520.96      |
|O00000015|U003336|2024-07-16 18:07:56.184332|returned    |1416.93     |
|O00000016|U006392|2025-10-01 07:52:15.796147|processing  |127.42      |
|O00000017|U006684|2024-08-05 20:28:39.309665|processing  |227.48      |
|O00000018|U000792|2024-11-10 21:40:57.180283|cancelled   |601.16      |
|O00000019|U004785|2024-11-26 15:18:00.423573|returned    |135.38      |
|O00000020|U007957|2024-07-13 06:57:25.769991|completed   |398.84      |
+---------+-------+--------------------------+------------+------------+
only showing top 20 rows

### 2.Convert Date Column

In [10]:
orders_df = orders_df.withColumn("order_date", col("order_date").cast("date"))
orders_df.show(truncate=False)

+---------+-------+----------+------------+------------+
|order_id |user_id|order_date|order_status|total_amount|
+---------+-------+----------+------------+------------+
|O00000001|U009310|2025-09-09|processing  |689.66      |
|O00000002|U003247|2025-04-15|completed   |1666.85     |
|O00000003|U007252|2025-04-27|processing  |665.06      |
|O00000004|U008986|2025-10-04|cancelled   |689.5       |
|O00000005|U008537|2024-11-13|cancelled   |860.5       |
|O00000006|U003449|2024-10-13|completed   |2258.34     |
|O00000007|U006985|2024-05-01|returned    |769.71      |
|O00000008|U007661|2024-03-03|completed   |15.21       |
|O00000009|U000610|2025-10-29|cancelled   |229.02      |
|O00000010|U003175|2024-08-13|returned    |107.63      |
|O00000011|U004470|2025-08-14|shipped     |1016.61     |
|O00000012|U009480|2025-08-27|cancelled   |600.23      |
|O00000013|U003631|2025-01-03|processing  |15.87       |
|O00000014|U009493|2025-06-15|shipped     |520.96      |
|O00000015|U003336|2024-07-16|returned    |1416.93     |
|O00000016|U006392|2025-10-01|processing  |127.42      |
|O00000017|U006684|2024-08-05|processing  |227.48      |
|O00000018|U000792|2024-11-10|cancelled   |601.16      |
|O00000019|U004785|2024-11-26|returned    |135.38      |
|O00000020|U007957|2024-07-13|completed   |398.84      |
+---------+-------+----------+------------+------------+
only showing top 20 rows

### 3.Select Latest Refference Date (Business Standard)

In [14]:
max_order_date = orders_df.agg(
    max("order_date")
).collect()[0][0]

print(max_order_date)

2025-11-14

### 4.Joins Orders & Order_Items to compute total spent per order

In [25]:
orders_total_spent_df= order_items_df.groupBy("order_id").agg(
    sum(col("item_price")*col("quantity")).alias("total_spent")
)
orders_total_spent_df.show()

+---------+------------------+
| order_id|       total_spent|
+---------+------------------+
|O00000313|            313.65|
|O00000363|             39.34|
|O00001031|            543.25|
|O00001112|            159.88|
|O00001185|            438.46|
|O00001428|           2079.99|
|O00001430|            383.75|
|O00001436| 90.44000000000001|
|O00002065|            270.36|
|O00002631|            117.48|
|O00002701|            1314.8|
|O00002727|             95.91|
|O00003025|             63.48|
|O00003294|              63.4|
|O00003498|             99.56|
|O00004218|242.73000000000002|
|O00004394|            108.39|
|O00004407| 660.7099999999999|
|O00004642|             150.4|
|O00004787|             128.9|
+---------+------------------+
only showing top 20 rows

### 5. Join back orders with users

In [35]:
Customer_orders = users_df.join(orders_df, on="user_id", how="inner")\
                         .join(orders_total_spent_df, on="order_id", how="inner")
Customer_orders.show()

+---------+-------+-----------------+--------------------+------+--------------------+-----------+----------+------------+------------+------------------+
| order_id|user_id|             name|               email|gender|                city|signup_date|order_date|order_status|total_amount|       total_spent|
+---------+-------+-----------------+--------------------+------+--------------------+-----------+----------+------------+------------+------------------+
|O00000001|U009310| Christine Snyder|  john14@example.com|Female|           Jonestown| 2024-02-22|2025-09-09|  processing|      689.66| 689.6600000000001|
|O00000002|U003247|    Ryan Valencia|stevensonanthony@...|  Male|          South Mary| 2024-03-23|2025-04-15|   completed|     1666.85|           1666.85|
|O00000003|U007252|        Tammy Fox|roberthenderson@e...| Other|           Wilsonton| 2024-06-27|2025-04-27|  processing|      665.06| 665.0600000000001|
|O00000004|U008986|      Kurt Howard| nancy40@example.org|Female|     New Barbarafurt| 2024-12-04|2025-10-04|   cancelled|       689.5| 689.5000000000001|
|O00000005|U008537|     Kevin Krause|kyliechandler@exa...|  Male|New Christophermouth| 2025-03-12|2024-11-13|   cancelled|       860.5|             860.5|
|O00000006|U003449|      Mason Owens| wharris@example.org| Other|          Danielfort| 2025-05-17|2024-10-13|   completed|     2258.34|           2258.34|
|O00000007|U006985|       Kent Brown|nancyfernandez@ex...|  Male|         Melissaland| 2025-05-07|2024-05-01|    returned|      769.71|            769.71|
|O00000008|U007661|        Leah Hill|  lnunez@example.com|  Male|            Khanfurt| 2025-05-24|2024-03-03|   completed|       15.21|             15.21|
|O00000009|U000610|    Rachel Taylor|parkerrichard@exa...|  Male|         Howardmouth| 2025-05-15|2025-10-29|   cancelled|      229.02|            229.02|
|O00000010|U003175|     Mark Johnson|jamesbeck@example...|Female|       Lake Benjamin| 2025-10-29|2024-08-13|    returned|      107.63|            107.63|
|O00000011|U004470|     Morgan Lopez|michael10@example...| Other|         South Peggy| 2025-10-14|2025-08-14|     shipped|     1016.61|           1016.61|
|O00000012|U009480|Gabrielle Serrano|rachelblackwell@e...| Other|         New Timothy| 2025-01-31|2025-08-27|   cancelled|      600.23|            600.23|
|O00000013|U003631|      John Butler|stephaniebright@e...| Other|         Johnsonside| 2025-10-17|2025-01-03|  processing|       15.87|             15.87|
|O00000014|U009493|  Michael Stanton|bridgesjennifer@e...| Other|        Williamsberg| 2024-10-25|2025-06-15|     shipped|      520.96|            520.96|
|O00000015|U003336|     Steven Smith|ericford@example.org| Other|           Donnabury| 2024-12-09|2024-07-16|    returned|     1416.93|1416.9299999999998|
|O00000016|U006392|    David Johnson|  iperez@example.org| Other|        Lake Russell| 2025-03-10|2025-10-01|  processing|      127.42|            127.42|
|O00000017|U006684|   Shawn Callahan|brittany91@exampl...|Female|         Larsonmouth| 2024-05-16|2024-08-05|  processing|      227.48|227.48000000000002|
|O00000018|U000792|     Keith Ibarra|   treed@example.com|  Male|         Austinburgh| 2025-05-19|2024-11-10|   cancelled|      601.16|            601.16|
|O00000019|U004785|    Kayla Wallace|nelsonmaria@examp...|  Male|          East Kelly| 2025-05-02|2024-11-26|    returned|      135.38|            135.38|
|O00000020|U007957|   Brittney Silva|pearsonjillian@ex...|Female|           Smithfort| 2024-03-20|2024-07-13|   completed|      398.84|398.84000000000003|
+---------+-------+-----------------+--------------------+------+--------------------+-----------+----------+------------+------------+------------------+
only showing top 20 rows

 ### 6. RFM Calculations (Recency, Frequency, Monetary)

In [41]:
rfm_df = Customer_orders.groupBy("user_id")\
  .agg(
      max("order_date").alias("Last_Purchase_date"),
      count("order_id").alias("Frequency"),
      sum("total_spent").alias("Monetary")
  )\
  .withColumn("Recency", datediff(lit(max_order_date), col("Last_Purchase_date")))\
  .select("user_id", "Recency", "Frequency", "Monetary")

rfm_df.show()

+-------+-------+---------+------------------+
|user_id|Recency|Frequency|          Monetary|
+-------+-------+---------+------------------+
|U004486|    178|        4|           2272.84|
|U008621|      8|        2|            261.86|
|U007574|    181|        2|            384.17|
|U004751|     28|        8|           1757.97|
|U008751|    119|        3|            3011.2|
|U009989|    244|        4|2829.5899999999997|
|U008646|    454|        4|3014.5300000000007|
|U005460|    266|        2|372.44000000000005|
|U000332|    137|        3|            3225.4|
|U003768|     88|        3|           2204.21|
|U009781|     40|        5|2347.7599999999998|
|U002403|    342|        1|             21.38|
|U001211|    325|        3|392.53999999999996|
|U007541|     34|        3|           2386.54|
|U005423|    363|        4|           2245.54|
|U007683|    181|        3|             152.0|
|U008063|     41|        3|           4439.82|
|U007925|     50|        1|            293.07|
|U008341|    200|        1|             65.06|
|U008672|     86|        3|           1509.76|
+-------+-------+---------+------------------+
only showing top 20 rows

### 7.Replace null monetary values with 0

In [38]:
rfm_df = rfm_df.withColumn("monetary", col("monetary").cast(DoubleType()))
rfm_df.show()

+-------+-------+---------+------------------+
|user_id|Recency|Frequency|          monetary|
+-------+-------+---------+------------------+
|U004486|    178|        4|           2272.84|
|U008621|      8|        2|            261.86|
|U007574|    181|        2|            384.17|
|U004751|     28|        8|           1757.97|
|U008751|    119|        3|            3011.2|
|U009989|    244|        4|2829.5899999999997|
|U008646|    454|        4|3014.5300000000007|
|U005460|    266|        2|372.44000000000005|
|U000332|    137|        3|            3225.4|
|U003768|     88|        3|           2204.21|
|U009781|     40|        5|2347.7599999999998|
|U002403|    342|        1|             21.38|
|U001211|    325|        3|392.53999999999996|
|U007541|     34|        3|           2386.54|
|U005423|    363|        4|           2245.54|
|U007683|    181|        3|             152.0|
|U008063|     41|        3|           4439.82|
|U007925|     50|        1|            293.07|
|U008341|    200|        1|             65.06|
|U008672|     86|        3|           1509.76|
+-------+-------+---------+------------------+
only showing top 20 rows

### 8. Score Generation

In [39]:
rfm_scored = rfm_df.withColumn(
    "R_score", when(col("recency") <= 30, 5)
                .when(col("recency") <= 60, 4)
                .when(col("recency") <= 120, 3)
                .when(col("recency") <= 180, 2)
                .otherwise(1)
).withColumn(
    "F_score", when(col("frequency") >= 10, 5)
                .when(col("frequency") >= 6, 4)
                .when(col("frequency") >= 3, 3)
                .when(col("frequency") >= 2, 2)
                .otherwise(1)
).withColumn(
    "M_score", when(col("monetary") >= 1000, 5)
                .when(col("monetary") >= 500, 4)
                .when(col("monetary") >= 200, 3)
                .when(col("monetary") >= 50, 2)
                .otherwise(1)
)

# Final RFM SCORE
final_rfm = rfm_scored.withColumn("RFM_score",
                                  col("R_score") + col("F_score") + col("M_score"))

final_rfm.show(20, truncate=False)

+-------+-------+---------+------------------+-------+-------+-------+---------+
|user_id|Recency|Frequency|monetary          |R_score|F_score|M_score|RFM_score|
+-------+-------+---------+------------------+-------+-------+-------+---------+
|U004486|178    |4        |2272.84           |2      |3      |5      |10       |
|U008621|8      |2        |261.86            |5      |2      |3      |10       |
|U007574|181    |2        |384.17            |1      |2      |3      |6        |
|U004751|28     |8        |1757.97           |5      |4      |5      |14       |
|U008751|119    |3        |3011.2            |3      |3      |5      |11       |
|U009989|244    |4        |2829.5899999999997|1      |3      |5      |9        |
|U008646|454    |4        |3014.5300000000007|1      |3      |5      |9        |
|U005460|266    |2        |372.44000000000005|1      |2      |3      |6        |
|U000332|137    |3        |3225.4            |2      |3      |5      |10       |
|U003768|88     |3        |2204.21           |3      |3      |5      |11       |
|U009781|40     |5        |2347.7599999999998|4      |3      |5      |12       |
|U002403|342    |1        |21.38             |1      |1      |1      |3        |
|U001211|325    |3        |392.53999999999996|1      |3      |3      |7        |
|U007541|34     |3        |2386.54           |4      |3      |5      |12       |
|U005423|363    |4        |2245.54           |1      |3      |5      |9        |
|U007683|181    |3        |152.0             |1      |3      |2      |6        |
|U008063|41     |3        |4439.82           |4      |3      |5      |12       |
|U007925|50     |1        |293.07            |4      |1      |3      |8        |
|U008341|200    |1        |65.06             |1      |1      |2      |4        |
|U008672|86     |3        |1509.76           |3      |3      |5      |11       |
+-------+-------+---------+------------------+-------+-------+-------+---------+
only showing top 20 rows

### 9. Assign Customer Segments

In [40]:
segment_df = final_rfm.withColumn(
    "segment",
    when(col("RFM_score") >= 12, " Loyal / VIP")
    .when(col("RFM_score") >= 9, " High Value")
    .when(col("RFM_score") >= 6, " Regular")
    .when(col("RFM_score") >= 4, " At Risk")
    .otherwise(" Lost / Inactive")
)

segment_df.show(20, False)

+-------+-------+---------+------------------+-------+-------+-------+---------+----------------+
|user_id|Recency|Frequency|monetary          |R_score|F_score|M_score|RFM_score|segment         |
+-------+-------+---------+------------------+-------+-------+-------+---------+----------------+
|U004486|178    |4        |2272.84           |2      |3      |5      |10       | High Value     |
|U008621|8      |2        |261.86            |5      |2      |3      |10       | High Value     |
|U007574|181    |2        |384.17            |1      |2      |3      |6        | Regular        |
|U004751|28     |8        |1757.97           |5      |4      |5      |14       | Loyal / VIP    |
|U008751|119    |3        |3011.2            |3      |3      |5      |11       | High Value     |
|U009989|244    |4        |2829.5899999999997|1      |3      |5      |9        | High Value     |
|U008646|454    |4        |3014.5300000000007|1      |3      |5      |9        | High Value     |
|U005460|266    |2        |372.44000000000005|1      |2      |3      |6        | Regular        |
|U000332|137    |3        |3225.4            |2      |3      |5      |10       | High Value     |
|U003768|88     |3        |2204.21           |3      |3      |5      |11       | High Value     |
|U009781|40     |5        |2347.7599999999998|4      |3      |5      |12       | Loyal / VIP    |
|U002403|342    |1        |21.38             |1      |1      |1      |3        | Lost / Inactive|
|U001211|325    |3        |392.53999999999996|1      |3      |3      |7        | Regular        |
|U007541|34     |3        |2386.54           |4      |3      |5      |12       | Loyal / VIP    |
|U005423|363    |4        |2245.54           |1      |3      |5      |9        | High Value     |
|U007683|181    |3        |152.0             |1      |3      |2      |6        | Regular        |
|U008063|41     |3        |4439.82           |4      |3      |5      |12       | Loyal / VIP    |
|U007925|50     |1        |293.07            |4      |1      |3      |8        | Regular        |
|U008341|200    |1        |65.06             |1      |1      |2      |4        | At Risk        |
|U008672|86     |3        |1509.76           |3      |3      |5      |11       | High Value     |
+-------+-------+---------+------------------+-------+-------+-------+---------+----------------+
only showing top 20 rows